$sectionCount: 100;

@keyframes fadeInDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@for $index from 0 to $sectionCount {
  .uses__section:nth-child(#{$index + 1}) {
    animation-delay: #{$index * 0.5}s;
  }
}

.uses {
  &__container {
    display: flex;
    justify-content: center;
  }

  &__list {
    &--outer {
      padding-left: 0;
    }
  }

  &__section {
    padding: 0 2rem;
    animation: fadeInDown 500ms linear 500ms 1 forwards;
    text-align: justify;
    opacity: 0;
    h1 {
      text-align: center;
    }

    ul {
      list-style: none;
      li {
        margin-top: 1rem;
      }
    }
  }

  &__link {
    padding: 0;
    &:hover {
      text-decoration: underline;
    }
  }
}

/** Mobile Styling */

@media screen and (max-width: 768px) {
  .uses {
    &__link {
      text-decoration: underline;
    }
  }
}
