<main class="bio__container">
  <div class="bio__profile">
    <img class="bio__avatar" src="assets/images/profile.jpg">
    <div class="icon-row">
      <a class="icon-font--regular" href="https://twitter.com/TheNgooyun" target="_blank">T</a>
      <a class="icon-font--plus" href="https://www.instagram.com/anddrewwhat/" target="_blank">I</a>
      <a class="icon-font--regular" href="https://www.linkedin.com/in/andrew-nguyen-vo-a0109a120/" target="_blank">I</a>
      <a class="icon-font--plus" href="mailto:andrew.nguyenvo@gmail.com">M</a>
    </div>
  </div>
  <div class="bio__content">
    <h1>Hi, I'm Drew</h1>
    <p>I believe in seizing opportunities for growth, leading through serving, and enjoying life for all it has to offer.
      In spring of 2021, I graduated with my Masters of Engineering in Computer Science from the University of Louisville, 
      and I have been able to continue growing my skills in the field as a full-time, full stack developer for one of the 
      largest airlines worldwide. Building highly scalable, continuously-integrated applications is one of my passions, and I 
      am fortunate to have been both a contributor and leader on multiple Agile-oriented projects doing just that. In my free 
      time, I enjoy growing my eclectic pile of half-read books, honing my craft as an amateur coffee snob, and dropping in on 
      new and unfamiliar places.
    </p>
    <hr>
  </div>
</main>