<main class="bio__container">
  <div class="bio__profile">
    <img class="bio__avatar" src="assets/images/profile.jpg">
    <div class="icon-row">
      <a class="icon-font--regular" href="https://twitter.com/TheNgooyun" target="_blank">T</a>
      <a class="icon-font--plus" href="https://www.instagram.com/anddrewwhat/" target="_blank">I</a>
      <a class="icon-font--regular" href="https://www.linkedin.com/in/andrew-nguyen-vo-a0109a120/" target="_blank">I</a>
      <a class="icon-font--plus" href="mailto:andrew.nguyenvo@gmail.com">M</a>
    </div>
  </div>
  <div class="bio__content">
    <h1>Hi, I'm Andrew,</h1>
    <p>I'm a senior computer science and engineering student and part-time developer based in Louisville,
      Kentucky. Since the beginning, everything about the web has fascinated me: from
      <strong>architecture</strong>
      to <strong>design</strong> to <strong>development</strong>. I wrote my first
      line of code in freshman year of college and haven't looked back since. Over these past few years, I've
      grown from
      struggling to write for-loops
      to
      designing and developing enterprise-level web apps from the ground up. When I'm not coding, I'm either
      teaching
      kids as a part-time youth leader, learning a new (speaking) language, or singing karaoke at my favorite
      local bar in the Highlands.</p>
    <hr>
  </div>
</main>
