@keyframes fadeInDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/** Wrapper Styling */

.bio__container {
  display: flex;
  padding: 0 5rem;
  animation: fadeInDown 500ms linear 500ms 1 forwards;
  opacity: 0;
}

/** Profile Section Styling */

.bio__profile {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.bio__avatar {
  width: 15rem;
  border-radius: 50%;
}

/** Content Section Styling */

.bio__content {
  line-height: 3rem;
  position: relative;
  z-index: -1;
  padding-left: 5rem;
}

.bio__divider {
  border-color: var(--primary);
}

/** Mobile Styling */

@media screen and (max-width: 768px) {
  .bio__container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .bio__profile {
    margin-left: 0;
  }

  .bio__content {
    padding: 0;
  }

  .bio__content p {
    text-align: justify;
  }
}

/** Widescreen Styling */

@media screen and (min-width: 1441px) {
  .bio__container {
    padding: 0 15vw;
  }
}
