@import '~src/styles/fonts.scss';
@import '~src/styles/colors';
@import '~src/styles/keyframes.scss';

/** General Stylings */

body {
  font-family: 'simplificasimplifica';
  font-size: 24px;

  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
  margin: 0;

  color: $primaryColor;
  background: $backgroundColor;
}

a,
a:visited {
  padding: 1rem;

  text-decoration: none;

  color: $primaryColor;
}

a:hover,
a.selected {
  font-weight: bold;
}

hr {
  border: 1px solid $primaryColor;
}

/** Icon and Icon Font Styling */

.icon-row {
  display: flex;
  justify-content: space-around;

  margin: 1rem 0;
}

.icon-row__icon {
  height: 1.5rem;
}

.icon-font--regular {
  font-family: 'social-regular';
  font-size: 2.5rem;
}

.icon-font--plus {
  font-family: 'social-plus';
  font-size: 2.5rem;
}
